<a href="https://colab.research.google.com/github/montasirfahim/Python-Practice---EDGE-Django-Course/blob/main/Fahim_DEC20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Part 1: Python Type Casting & Boolean**

In [26]:
a = int(4) #explicitly mentioned that it should be considered as an integer
b = int(-2.8353) #float --> integer
c = int("34") #string --> integer
print(type(a), a)
print(type(b), b)
print(type(c), c)

x = float(23)  #int --> float
print(x, type(x))

x = float("176.982") #string --> float
print(x, type(x))

x = 1775 #integer by default
y = str(x) #int --> string
print(y, type(y))  # This should now work correctly

b = bool(1) #int --> boolean
print(b, type(b))

b = bool(0) #int --> boolean
print(b, type(b))

bool1 = True
bool2 = False
print(bool1, bool2, bool1 & bool2)

<class 'int'> 4
<class 'int'> -2
<class 'int'> 34
23.0 <class 'float'>
176.982 <class 'float'>
1775 <class 'str'>
True <class 'bool'>
False <class 'bool'>
True False False

**Part 2: Python String**

In [29]:
print("Welcome the EDGE Class")  #without variable

str = "Hello! This is me Fahim." #declared a variable to store a string
print(str, " #Type of this variable: ", type(str))

name = "Fahim Montasir Tuhin" #string behaves like an Array
print("Charcter at index 5: ", name[5])

print("upper case: ", name.upper()) #upper() function converts whole string to upper case
length = len(name)
print("Length is: ", length)

#loop through a string arrays:
for i in range(0, length):
  print(name[i].upper())  #convert whole string to UpperCase, one by one charcter

#split the string into token/word:
print("Splitted string into token/word: ")
token = name.split(" ") #use space as delimiter
for i in token:
  print(i)

#Check if "free" is present in the following text:
txt = "The best things in life are free!"
print("\n", "free" in txt)

#Get the characters from position 2 to position 5 (not included):
b = "Hello, World!"
print(b[2:5])

b = "Hello, World!"
print(b[:5]) #get the string from start to index 4

b = "Hello, World!"
print(b[-5:-2]) #Use negative indexes to start from the end of the string. From: "o" in "World!" (position -5) To, but not included: "d" in "World!"(index -2):

#The strip() method removes any whitespace from the beginning or the end:
a = "  Hello, World!   "
print(a.strip()) # returns "Hello, World!"

a = "Hello, World!"
print(a.replace("Hello", "Hi")) #The replace() method replaces a string with another string

a = "Hello"
b = "World"
c = a + b  #concatening two strings
print(c)

a = "Hello, World!"
print(a.split(",")) # split string by comma(,) returns ['Hello', ' World!']

age = 23
txt = f"My name is Fahim, I am {age}" #formatting string
print(txt)

text = "we love Bangladesh"
print(text.capitalize()) #used to capitalize the first letter of a string and convert the rest of the letters to lowercase.

Welcome the EDGE Class
Hello! This is me Fahim.  #Type of this variable:  <class 'str'>
Charcter at index 5:
upper case:  FAHIM MONTASIR TUHIN
Length is:  20
F
A
H
I
M

M
O
N
T
A
S
I
R

T
U
H
I
N
Splitted string into token/word:
Fahim
Montasir
Tuhin

 True
llo
Hello
orl
Hello, World!
Hi, World!
HelloWorld
['Hello', ' World!']
My name is Fahim, I am 23
We love bangladesh

**Part 3: Python Operators**

In [27]:
a = 243
b = 67
#Arithmetic Operators:
print(a + b) #addition
print(a - b) #substraction
print(a * b) #multiplication
print(a / b) #division
print(a % b) #modulas --> returns remainder
print(a ** b) #power calculation: a^b
print(a // b) #floor division / integer division

#Assignment Operators:
a = 6
b = 9
a += b # a = a + b
print(a) #15
a /= 2 # 15/2
print(a)

#Bitwise Operators:
b &= 2 # b = b & 2
print(b) # 9 & 2 = 0 --> logical AND operation of 9 and 2 is: 0
b |= 9 # OR operation: b = 0 | 9 = 9
print(b)
b ^= 4 #XOR : b = b ^ 4
print(b)
n = 15
print("Not ~15: ", ~n)

#Comparison Operators
print(a == b) #returns whether value of a and b is equal or not
print(a != b) #check a and b are different or not
x = 5

#Logical Operators:
print(x < 5 and  x < 10) #Returns True if both statements are true
#Returns True if any one statements are true
print(x < 5 or  x < 10)

#Identity Operators:
x = "@"
y = "#"
print("indentity: ", x is y)  #	Returns True if both variables are the same object
print("indentity: ", x is not y) #	Returns True if both variables are not the same object

#Rounding value:
x = 1.66666666666667777
print("{:0.2f}".format(x))
x = 1.66666666666667777
x = round(x, 2)
print(x)
print(round(x, 10)) #this is not possible anymore because, we assigned the new value of as as 1.67(2 decimal places)

310
176
16281
3.626865671641791
42
6848892208188538287483832805385295026551067207348700786053090333322124682953755796517397310844406703021418164138549568090016503923723098786081915834717151161707
3
15
7.5
0
9
13
Not ~15:  -16
False
True
False
True
indentity:  False
indentity:  True
1.67
1.67
1.67

**Part 4: Python Operator and Method Overloading**

In [28]:
#Operator Overloading: Same operator behaves differently based on operands
a = 5
b = 10
print(a + b) # '+' operator for arithmatic addition
a = "Fahim"
b = " Montasir"
c = a + b # here, '+' operator concatenates two strings
print(c)
print(3 * 4) # '*' operator multiplies 3 with 4. Output: 12
print("3" * 4) #here, '*' operator repeats the string("3") as many times as specified by the integer(4). Output : 3333


#Method Overloading: Same method behaves differently based on arguments
class Calculator:
    def add(self, a, b=None, c=None):  #here, b and c are optional parameters but at least one perameter a is required
        if b is None and c is None:
            return a
        elif c is None:
            return a + b
        else:
            return a + b + c

obj = Calculator() #create an object of Calculator class
print(obj.add(5))          # Output: 5
print(obj.add(5, 10))      # Output: 15
print(obj.add(5, 10, 15))  # Output: 30

15
Fahim Montasir
12
3333
5
15
30